catalog.rds
defunciones_generales_base_datos_2010_2014_dbf.zip
defunciones_generales_base_datos_2015_2019_dbf.zip
defunciones_base_datos_2014
defunciones_base_datos_2015
defunciones_base_datos_2016
defunciones_base_datos_2017
defunciones_base_datos_2018
defunciones_base_datos_2019
defunciones_base_datos_2020
defunciones_base_datos_2021
mort2014.rds
mort2015.rds
mort2016.rds
mort2017.rds
mort2018.rds
mort2019.rds
mort2020.rds
mort2021.rds
~$mex_states_codes.xlsx
