inputDB.zip
DN21OPEN.zip
DO21OPEN.dbf
DO21OPEN.zip
deprecated
DDAAxsom2021SE14.csv
anexos-defunciones-covid-dept-semana-35-2021.xlsx
anexos-defunciones-covid-nal-exceso-mortalidad-nacional-semana-35-2021.xlsx
coveragedb_original_20220824_082632_03791069.csv
coveragedb_original_20220824_082632_03791069.zip
