.Rproj.user
.Rhistory
.RData
.Ruserdata
Mortalidade_Geral_2015.csv
Mortalidade_Geral_2016.csv
Mortalidade_Geral_2017.csv
Mortalidade_Geral_2018.csv
Mortalidade_Geral_2019.csv
Mortalidade_Geral_2020.csv
Mortalidade_Geral_2021.csv
DO21OPEN.zip
brazil_deaths_micro_2015_2020.zip
DO21OPEN.dbf
Mortalidade_Geral_2014.csv
